/* You can add global styles to this file, and also import other style files */

.fast{
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both}

#themecolors .selector, .cursor {
    cursor: pointer;
}


#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-Avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;;
}

.w150 {
    width: 150px;;
}

.img-Avatar-Grid {
    border: 1px solid gray;
    /* border-radius: 100%; */
    width: 45px;
    height: 45px;
}

.ocultar-modal{
    display: none;
}

.fondo-modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}