<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" 
                        class="form-control" 
                        placeholder="Buscar usuario..." 
                        (keyup)="buscar( txtTermino.value )"
                        #txtTermino />
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast"
    *ngIf="cargando"
>
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>


</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle">Usuarios registrados ({{ totalRegistros }}) - {{ this.desde }}</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100" >Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w150">Role</th>
                                <th class="w100">Auth</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of usuarios">
                                <td class="text-center">
                                    <img [src]="item.imagenUrl" alt="Avatar de Usuario" class="img-Avatar-Grid w100">
                                </td>

                                <td>{{ item.email }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>
                                    
                                    <select class="form-control" 
                                            [(ngModel)]="item.role"
                                            (change)="cambiarRole( item )">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select>
                                    
                                </td>
                                <td>

                                    <span *ngIf="item.google" class="label label-danger">Google</span>
                                    <span *ngIf="!item.google" class="label label-info">Email</span>
                                </td>
                                <td class="text-nowrap">
                                    <!-- <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> -->
                                    <a data-toggle="tooltip" 
                                        data-original-title="Eliminar"
                                        class="cursor"
                                        (click)="eliminarUsuario( item )"
                                    > 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>
</div>